body,html{
  align-items: center;
  background-color: aquamarine;
}
.heading{
  color: black;
  text-align: center;
}
.todo{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  background-color: olivedrab;
  border-radius: 5px;

}
.todo p{
  width: 90%;
}
.status button{
  margin: 3px;
  border-radius: 100px;
  border: 1px;
}
.complete{
  background-color: gold;
  
}
.delete{
  background-color: red;
  color: white;
}
input{
  padding:5px;
  margin:10px;
  border-radius:5px;
  border:0;
  width:97%;
  border:none;
}